{
  "bracketSpacing": false,
  "printWidth": 80,
  "proseWrap": "never",
  "requirePragma": false,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "useTabs": true,
  "overrides": [
    {
      "files": [".prettierrc", "*.json"],
      "options": {
        "printWidth": 200,
        "tabWidth": 2,
        "useTabs": false
      }
    }
  ]
}
