/*
:root {
    --ifm-color-primary: #000;
}
*/

details {
	margin-bottom: 20px;
	background: #e2e2e2;
}

details iframe {
	padding: 0 20px;
}

details a {
	display: block;
	text-align: right;
	font-size: 0.8em;
	color: #666;
}

.egghead-link {
	font-style: italic;
	padding: 5px;
	margin: 5px;
}
